In [1]:
import mariadb
import os
from csv import DictReader
from dotenv import load_dotenv

_ = load_dotenv("config.env")

In [2]:
connection = mariadb.connect(
    host="127.0.0.1",
    port=23306,
    user=os.getenv("user"),
    password=os.getenv("password"),
    database="team7",
    autocommit=False,
)
cursor = connection.cursor()

In [3]:
# cursor.execute("DROP TABLE IF EXISTS purchases1")
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS purchases1 (
        id INT PRIMARY KEY NOT NULL,
        Date DATE NOT NULL,
        `Customer Number` BIGINT UNSIGNED NOT NULL,
        SKU INT UNSIGNED NOT NULL,
        `Sale Price` DOUBLE UNSIGNED NOT NULL,
        `Items Left` INT UNSIGNED NOT NULL,
        `Cases Purchased` INT UNSIGNED NOT NULL
    )
    """
)

In [4]:
with open("/home/jason/finalPurchaseList.csv") as csv_file:
    csv_reader = DictReader(csv_file)
    count = 0
    for row in csv_reader:
        count = count + 1
        result = cursor.execute(
            "INSERT IGNORE INTO purchases1 (id, Date, `Customer Number`, SKU, `Sale Price`, `Items Left`, `Cases Purchased`) VALUES (?, ?, ?, ?, ?, ?, ?)",
            (
                row[''],
                row['Date'],
                row['Customer Number'],
                row['SKU'],
                row['Sale Price'],
                row['Items Left'],
                row['Cases Purchased'],
            ),
        )
        if count % 100000 == 0:
            connection.commit()
connection.commit()

100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000

In [5]:
connection.close()