In [1]:
import mariadb
import os
from columnar import columnar
from dotenv import load_dotenv

_ = load_dotenv("config.env")

In [2]:
connection = mariadb.connect(
    host="127.0.0.1",
    port=23306,
    user=os.getenv("user"),
    password=os.getenv("password"),
    autocommit=False,
)
cursor = connection.cursor()

In [3]:
def total_sales_per_sku(db_name: str, table_name: str):
    cursor.execute(
        """
        CREATE TABLE IF NOT EXISTS {db_name}.total_sales_per_sku (sku INT, count INT)
        SELECT sku, COUNT(*) AS "count"
                FROM {db_name}.{table_name}
                GROUP BY sku
                ORDER BY COUNT(*) DESC
        """.format(
            db_name=db_name,
            table_name=table_name,
        )
    )

In [4]:
total_sales_per_sku("team8", "transactions")
total_sales_per_sku("team7", "purchases")

In [16]:
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS data_mart.total_sales_per_sku (sku INT, count INT, rank INT, team7_count INT, team7_rank INT, team8_count INT, team8_rank INT)
    SELECT sku, total as count, rank, team7_count, team7_rank, team8_count, team8_rank FROM
        (SELECT * FROM
            (SELECT sku, CAST(SUM(count) AS INTEGER) AS total, ROW_NUMBER() OVER (ORDER BY total DESC) AS rank
                FROM (SELECT sku, count FROM team8.total_sales_per_sku
                      UNION ALL
                      SELECT sku, count FROM team7.total_sales_per_sku) total
                GROUP BY total.sku) global
            JOIN (SELECT sku as team8_sku, count AS team8_count, ROW_NUMBER() OVER (ORDER BY count DESC) AS team8_rank FROM team8.total_sales_per_sku) team8
            ON sku = team8_sku) gl_team8
        JOIN (SELECT sku AS team7_sku, count AS team7_count, ROW_NUMBER() OVER (ORDER BY count DESC) AS team7_rank FROM team7.total_sales_per_sku) team7
        ON sku = team7_sku
        ORDER BY rank
    """
)

In [30]:
cursor.execute(
    """
    SELECT product_catalog.sku, CONCAT(manufacturer, ": ", product_name, " (", size, ")") AS product, count, rank, team7_count, team7_rank, team8_count, team8_rank
    FROM data_mart.total_sales_per_sku
    JOIN data_mart.product_catalog ON product_catalog.sku = total_sales_per_sku.sku
    ORDER BY rank
    LIMIT 25
    """
)
tuples = cursor.fetchall()
lists = [list(x) for x in tuples]
table = columnar(lists, ["sku", "product", "count", "rank", "team7_count", "team7_rank", "team8_count", "team8_rank"], no_borders=True, terminal_width=150)
print(table)

  SKU       PRODUCT                                               COUNT  RANK   TEAM7_COUNT  TEAM7_RANK  TEAM8_COUNT  TEAM8_RANK

  42360001  Rowan Dairy: Whole Milk Milk (1/2 gal)                97792  1      49027        1           48765        1
  42357001  Rowan Dairy: 2.00% Milk (1 gal)                       97685  2      48946        2           48739        3
  42356001  Rowan Dairy: 1.00% Milk (1/2 gal)                     97348  3      48589        5           48759        2
  42355001  Rowan Dairy: 1.00% Milk (1 gal)                       97198  4      48788        3           48410        5
  42358001  Rowan Dairy: 2.00% Milk (1/2 gal)                     97024  5      48374        6           48650        4
  42359001  Rowan Dairy: Whole Milk Milk (1 gal)                  97006  6      48629        4           48377        6
  42313001  Smuckers: Jelly Grape (18 oz)                         28274  7      14168        7           14106        8
  42314001  Smuckers: Squeeze Jelly Grape (20 oz)                 28271  8      14153        8           14118        7
  42312001  Smuckers: Jam Strawberry (18 oz)                      28011  9      13996        10          14015        9
  42311001  Smuckers: Jam Grape (18 oz)                           27928  10     14013        9           13915        10
  42257001  Super: Super Vegetable Oil  (7.23)                    22609  11     10876        820         11733        11
  43109001  High Top: High Top Prepared Salad  (8.5)              22577  12     11033        79          11544        15
  43090001  High Top: High Top Fuji Apples  (14)                  22574  13     11108        22          11466        45
  42729001  Motts For Tots: Juice Boxes Apple White Grape (8 ct)  22563  14     11039        67          11524        18
  43927001  Blue Label: Blue Label Turkey Noodle Soup  (13.5)     22534  15     11050        54          11484        36
  43660001  Ebony: Ebony Lemons  (5.65)                           22528  16     11036        75          11492        32
  44071001  Barilla: Pasta Mostaccioli (1 lbs)                    22521  17     11066        37          11455        59
  42486001  PigTail: PigTail Chicken TV Dinner  (16.3)            22501  18     11048        58          11453        60
  43841001  Carlson: Carlson Sour Cream  (5.78)                   22498  19     11035        77          11463        49
  43783001  Choice: Choice Tasty Candy Bar  (15.2)                22494  20     11151        15          11343        210
  43843001  Carlson: Carlson String Cheese  (18.8)                22482  21     11016        107         11466        46
  42855001  Kraft: Cool Whip Regular (8 oz)                       22480  22     11057        46          11423        84
  43048001  Hostess: Cupcakes Chocolate (12.7 oz)                 22473  23     11001        149         11472        42
  44057001  BBB Best: BBB Best Vegetable Oil  (11.5)              22472  24     10968        259         11504        27
  43170001  Hermanos: Hermanos Summer Squash  (12.1)              22458  25     10937        421         11521        21